.banner {
  background-color: black;
  color: white;
  font-style: bold;
  margin:0;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;

}
.card {
  width: 260px;
  height: 150px;
  margin: 15px;
  background-color: rgb(11, 58, 11);
  display: flex;
  align-items: center;
  justify-content: center;

}

p {
  color: white;
  font-size: 20px;
  padding: 10px;
  
}
